<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
          title 
      {% endblock %}
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="{{ asset('bundles/webweb/css/style.css') }}" type="text/css" media="all" />
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('bundles/ensjobeet/images/favicon.ico') }}" />
  </head>
  <body>
	<div id="container">
            <div id="header">
                <div id="language">
                    <a href="{{ path(app.request.attributes.get('_route'), { '_locale': 'ca' }) }}">CAT</a>-
                    <a href="{{ path(app.request.attributes.get('_route'), { '_locale': 'es' }) }}">ESP</a>-
                    <a href="{{ path(app.request.attributes.get('_route'), { '_locale': 'en' }) }}">ENG</a>-
                    <a href="{{ path(app.request.attributes.get('_route'), { '_locale': 'de' }) }}">DEU</a>
                </div>

                {% block header %}
                    <div id="logo">
			<a href="{{ path('index') }}">
			  <div id="name">postres</div><div id="name2">casolans</div>
			  <div id="sub_name">JAUME</div><div id="sub_name2">OLIVER</div>
			</a>
                    </div>
                {% endblock %}
            </div>
            <div id="menu">
                {% block menu %}
                {% endblock %}
            </div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <div id="footer">   
                <div class="menu_footer">
                   <a href="{{ path('index') }}">{% trans %}Index{% endtrans %}</a>
                   <a href="{{ path('cataleg') }}">{% trans %}Catàleg{% endtrans %}</a>
                   <a href="{{ path('contacte') }}">{% trans %}Contacte{% endtrans %}</a>
                </div>
		<div id="contact_footer">
		  <div id="title_contact_footer"><b>{% trans %}Centre de producció{% endtrans %}</b></div>
		  <div id="sub_contact_footer">{% trans %}Palma, 600 600 600 (Jaume){% endtrans %}</div>
		</div>
            </div>
	</div>
  </body>
</html>
